In [1]:
print('First Program')
1 \
+ 2

help(print)

First Program
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [9]:
1 + 2 + 3

6

In [10]:
print (1 + 2 + 3)
print (3 + 3 + 3)

6
9

In [12]:
# Basics Types

In [16]:
print ('You are ' + 3 * 'very ' + 'cool')
print (None)

You are very very very cool
None

# Variables

In [2]:
a = 10
b = 5.2

print (a + b)

a = 'Im a String now'
print(a)

15.2
Im a String now

# Comments

In [4]:
# comments

In [8]:
salario = 5000
despesas = 2560

#make calc

'''
a idéia é comentar
'''

print(salario - despesas)

2440

# Arithmetics Operators

In [14]:
print(2 + 3)
print(4 - 7)
print(3 * 4.6)
print(3.3 / 2.9)
print(3.3 // 2.9) #obrigado a ser um número inteiro
print(9 ** 5) #elevate

a = 12
b = a

print(a + b)

5
-3
13.799999999999999
1.1379310344827587
1.0
59049
24

# My variables

salary = 5000.32
expenses = 2567.56

#calc
commited_percentage = expenses / salary * 100
commited_percentage

# Relational Operators

In [1]:
2 == '2' #JS is true but in Python is false

False

# Assingment Operators

In [4]:
a = 3
a = a + 7
print (a)

a += 5
print(a)
a *= 3
print(a)
a /= 4
print (a)
a %= 4
print(a)
a **= 5
print(a)

10
15
45
11.25
3.25
362.5908203125

# Logical Operators

In [14]:
True and False
7 != 3 and 2>3

True or False
7 != 3 and 2>3

#Real Structure
saldo = 1000
salario = 4000
despesas = 3900

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario

meta = saldo_positivo and despesas_controladas
meta

False

In [19]:
#Logical Operators

trabalho_terca = True
trabalho_quinta = False

"""
Comfirmando os 2: TV 50' + Sorvete
Confirmando apenas 1: TV 32' + Sorvete
Nenhum Confirmado: Fica em casa
"""

tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta
mais_saudavel = not sorvete

print('Tv50={} Tv32={} Sorvete={} Saudável={}'
     .format (tv_50, tv_32, sorvete, mais_saudavel))

"{2}, {0} = {1}".format(1, False, 'resultado') #choose sequence
"{}, {} = {}".format(1, False, 'resultado') #logical sequence

Tv50=False Tv32=True Sorvete=True Saudável=False

'1, False = resultado'

# Unary operators

In [23]:
a = 3
++a
++a
-a
+a

3

# Ternary Operators

In [28]:
esta_chuvendo = True
print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[esta_chuvendo])

print('Hoje estou com as roupas ' + ('molhadas.' if esta_chuvendo else 'secas.'))

Hoje estou com as roupas molhadas.
Hoje estou com as roupas molhadas.

In [30]:
x = 3
y = x
z = 3
x is y
y is z
x is not y

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
lista_a is not lista_c

True

# Builtins

In [40]:
type(1)
__builtins__.type('Fala Galera!')
__builtins__.print(10 / 3)

# help(dir)

dir()

1 + 2

dir(__builtins__)

nome = 'João da Silva'
type(nome)
__builtins__.len(nome)

3.3333333333333335

13

# Convert Types

In [46]:
2 + 3
'2' + '3'


a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

type(str(a))

<class 'int'>
<class 'str'>
5
23

str

# Automatic Coercion

In [51]:
10 / 2
10 // 3 #obriga o resultado ser inteiro
type(1 + 2)
type(1.1 + 3)

float