In [1]:
print('First Program')
1 \
+ 2

help(print)

First Program
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [9]:
1 + 2 + 3

6

In [10]:
print (1 + 2 + 3)
print (3 + 3 + 3)

6
9

In [12]:
# Basics Types

In [16]:
print ('You are ' + 3 * 'very ' + 'cool')
print (None)

You are very very very cool
None

# Variables

In [2]:
a = 10
b = 5.2

print (a + b)

a = 'Im a String now'
print(a)

15.2
Im a String now

# Comments

In [4]:
# comments

In [8]:
salario = 5000
despesas = 2560

#make calc

'''
a idéia é comentar
'''

print(salario - despesas)

2440

# Arithmetics Operators

In [14]:
print(2 + 3)
print(4 - 7)
print(3 * 4.6)
print(3.3 / 2.9)
print(3.3 // 2.9) #obrigado a ser um número inteiro
print(9 ** 5) #elevate

a = 12
b = a

print(a + b)

5
-3
13.799999999999999
1.1379310344827587
1.0
59049
24

# My variables

salary = 5000.32
expenses = 2567.56

#calc
commited_percentage = expenses / salary * 100
commited_percentage

# Relational Operators

In [1]:
2 == '2' #JS is true but in Python is false

False

# Assingment Operators

In [4]:
a = 3
a = a + 7
print (a)

a += 5
print(a)
a *= 3
print(a)
a /= 4
print (a)
a %= 4
print(a)
a **= 5
print(a)

10
15
45
11.25
3.25
362.5908203125

# Logical Operators

In [14]:
True and False
7 != 3 and 2>3

True or False
7 != 3 and 2>3

#Real Structure
saldo = 1000
salario = 4000
despesas = 3900

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario

meta = saldo_positivo and despesas_controladas
meta

False

In [19]:
#Logical Operators

trabalho_terca = True
trabalho_quinta = False

"""
Comfirmando os 2: TV 50' + Sorvete
Confirmando apenas 1: TV 32' + Sorvete
Nenhum Confirmado: Fica em casa
"""

tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta
mais_saudavel = not sorvete

print('Tv50={} Tv32={} Sorvete={} Saudável={}'
     .format (tv_50, tv_32, sorvete, mais_saudavel))

"{2}, {0} = {1}".format(1, False, 'resultado') #choose sequence
"{}, {} = {}".format(1, False, 'resultado') #logical sequence

Tv50=False Tv32=True Sorvete=True Saudável=False

'1, False = resultado'

# Unary operators

In [23]:
a = 3
++a
++a
-a
+a

3

# Ternary Operators

In [28]:
esta_chuvendo = True
print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[esta_chuvendo])

print('Hoje estou com as roupas ' + ('molhadas.' if esta_chuvendo else 'secas.'))

Hoje estou com as roupas molhadas.
Hoje estou com as roupas molhadas.

In [30]:
x = 3
y = x
z = 3
x is y
y is z
x is not y

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
lista_a is not lista_c

True

# Builtins

In [40]:
type(1)
__builtins__.type('Fala Galera!')
__builtins__.print(10 / 3)

# help(dir)

dir()

1 + 2

dir(__builtins__)

nome = 'João da Silva'
type(nome)
__builtins__.len(nome)

3.3333333333333335

13

# Convert Types

In [46]:
2 + 3
'2' + '3'


a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

type(str(a))

<class 'int'>
<class 'str'>
5
23

str

# Automatic Coercion

In [51]:
10 / 2
10 // 3 #obriga o resultado ser inteiro
type(1 + 2)
type(1.1 + 3)

float

# Numeric types

In [11]:
dir(int)
dir(float)

int.__add__(2, 3)

5

# Decimal (precision)

In [28]:
from decimal import Decimal, getcontext
Decimal(1)/ Decimal(7)

getcontext().prec = 4 #precisão de número
Decimal (1) / Decimal (7)
Decimal.max(Decimal(1), Decimal(7))

dir(Decimal)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__complex__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'adjusted',
 'as_integer_ratio',
 'as_tuple',
 'canonical',
 'compare',
 'compare_signal',
 'compare_total',
 'compare_total_mag',
 'conjugate',
 'copy_abs',
 'copy_negate',
 'copy_sign',
 'exp',
 'fma',
 'from_float',
 'imag',
 'is_canonical',
 'is_finite',
 'is_infinite',
 'is_nan',
 'is_normal',
 'is_qnan',
 'is_signed',
 'is_snan',
 'is_subnormal',
 'is_zero',
 'ln',
 'log10',
 'logb',
 'logical_and',
 'logical_invert',
 'logical_or',
 'logical_xor',
 'max',
 'max_mag',
 'min',
 'min_mag',
 'next_minus',
 'next_plus',
 'next_toward',
 'normalize',
 'number_class',
 'quantize',
 'radix',
 'real',
 'remainder_near',
 'rotate',
 'same_quantum',
 'scaleb',
 'shift',
 'sqrt',
 'to_eng_string',
 'to_integral',
 'to_integral_exact',
 'to_integral_value']

# Strings

In [12]:
dir(str)
nome = 'Saulo Pedro'
nome
nome [0] #Give first letter of the name

"Dias D'Avila" == 'Dias D\ Avila'

texto = 'Texto entre apostrófos pode ter "aspas"'
texto

doc = """Texto
... com multiplas linhas"""
doc

print('Texto\n... com multiplas linhas')
print(doc)

Texto
... com multiplas linhas
Texto
... com multiplas linhas

In [4]:
nome = 'Ana Paula'
nome[6]
nome[-3] #contará da direita para a esquerda
nome[3:] #range que eu quero selecionar
nome[:3] #range que quero ignorar
nome[2:5] #range entre um e outro

numeros = '0123456789'
numeros[::]
numeros[::2] #pula-rá de 2 em 2

'02468'

In [9]:
frase = 'Python is a amazing lenguage'
'py' not in frase
'ing' in frase
len(frase) #tamanho da frase
frase.lower() #diminui letras
frase
frase.upper() #aumenta letras

'PYTHON IS A AMAZING LENGUAGE'

# Lists

In [32]:
lista = []
type(lista)
dir(lista)
#help(list)
len(lista) #tamanho de algo
lista.append(1) #adicionar algo na lista
lista.append(5) 
lista
lista.append([1,2,3])

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(5) #remove algo da lista (número 5 nesse caso)
nova_lista
nova_lista.reverse() #reverte a ordem da lista
print(nova_lista)
print(lista)

['Bia', 'Ana', 1]
[1, 5, [1, 2, 3]]

In [44]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme') #posição do elemento
#lista.index(3) #ele dá erro se não existe algo na lista
lista[2]
1 in lista
'Rebeca' in lista
'Pedro' not in lista 
lista[4]
lista[-5] #da direita para esquerda (começa do 1 nesse caso)

1

In [48]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3]
lista[1:-1] #range que quero selicionar

['Lia', 'Rui', 'Paulo']

# Tuples

In [60]:
tupla = tuple()
tupla = ()
type(tupla)
dir(tupla)

tupla = ('um')
type(tupla)

cores = ('ver', 'vermelho' , 'amarelo', 'azul')
cores[-1]

cores.index('amarelo')

2

# Dictionary

In [3]:
pessoa = {'nome': 'Prof(a).Ana', 'idade':38, 'cursos': ['Inglês', 'Português']}
type(pessoa)

dict

In [15]:
pessoa = {'nome': 'Prof(a).Alberto', 'idade':38, 'cursos': ['Inglês', 'Português']}
pessoa ['idade'] = 44 #altera o valor
pessoa
pessoa.pop('idade') #mostra apenas o valor

pessoa
pessoa.update({'idade':40, 'Sexo': 'M'})
pessoa
del pessoa['cursos'] #delete
pessoa
pessoa.clear() #limpa o dicionário
pessoa

{}

# Conjunto

In [35]:
a = {1, 2, 3}
type(a)
a = set('coddd3r') #não aceita repetição 'd'
print(a)
print('3' in a, 4 not in a)
{1, 2, 3} == {3, 2, 1, 3}

#operações
c1 = {1, 2}
c2 = {2, 3}
print(c1.union(c2))
print(c1.intersection(c2))
c1.update(c2) #junta os elementos (atualiza)
c1
c2 <= c1
c1 >= c2
c1

{'o', 'd', 'r', '3', 'c'}
True True
{1, 2, 3}
{2}

{1, 2, 3}

# Interpolation

In [1]:
nome, idade = 'Giovana', 30.9875

print('Nome: %s, Idade:%.2f' % (nome, idade)) #mais antiga
print('Nome: {0}, Idade: {1}'.format(nome, idade)) #python < 3.6
nome = "Rafael"
idade = 20
print(f'Nome: {nome}, Idade:{idade}') #python >= 3.6

Nome: Giovana, Idade:30.99
Nome: Giovana, Idade: 30.9875
Nome: Rafael, Idade:20